<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Eligibility Statement</title>
    <link th:href="@{css/eligibility-statement.css}" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
    <div class=WordSection1></div>
    <div class="c12">
      <span style="overflow: hidden; position: relative; border: 0.00px solid #000000; -webkit-transform: rotate(0.00rad) translateZ(0px);">
        <img th:src="@{images/image1.png}" style="width: 200.00px; height: 70.00px; -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
      </span>
    </div>
    <div class="c12">
      <span style="overflow: hidden; position: relative; ; border: 0.00px solid #000000; -webkit-transform: rotate(0.00rad) translateZ(0px); width: 240.00px; height: 170.00px;">
        <img th:src="@{images/image2.png}" style="width: 240.00px; height: 170.00px; margin-left: 450.00px; margin-top: -75.00px; -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
      </span>
    </div>
    <div style="margin-top: -75px;">
      <p class=MsoNormal style='margin-bottom:0cm'>
        <span>Jakarta, <span th:text="${printAt}"></span>
          <br> No. </span>
        <span>
          <span th:text="${letter_number}"></span>
          <br> Perihal : </span>
        <span>Pernyataan <i>Eligible</i> untuk mengikuti proses sertifikasi GREENSHIP </span>
      </p>
      <p class=MsoNormal style='margin-bottom:0cm'>
        <span>&nbsp;</span>
      </p>
      <p class=MsoNormal style='margin-bottom:0cm'>
        <span>Kepada Yth. <br> Bapak/Ibu <span th:text="${person_in_charge}"></span>
          <br>
          <span th:text="${building_address}"></span>
          <br>
          <span th:text="${city_name}"></span>
          <br>
          <span th:text="${province_name}"></span>
          <br>
          <span th:text="${postal_code}"></span>
        </span>
      </p>
      <p class=MsoNormal></p>
      <p class=MsoNormal style='margin-bottom:0cm;text-align:justify;text-justify:inter-ideograph'>
        <span>Dengan hormat, </span>
      </p>
      <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;line-height:normal'>
        <span>Bersama ini kami sampaikan bahwa kami telah menerima dokumen <i>eligibility</i>
        </span>
        <span></span>
        <span>dari </span>
        <span>
          <span th:text="${owner}"></span>
        <span> untuk pendaftaran Sertifikasi Greenship <i>New Building</i> Proyek Gedung </span>
        <span th:text="${building_name}"></span>
        <span> berupa </span>
        <span>:</span>
      </p>
      <ol style='margin-top:0cm' start=1 type=1>
        <li class=MsoNormal style='margin-bottom:0cm;text-align:justify;text-justify:inter-ideograph;line-height:normal'>
          <span>Dokumen gambar denah yang membuktikan luas &gt; 2500m²</span>
        </li>
        <li class=MsoNormal style='margin-bottom:0cm;text-align:justify;text-justify:inter-ideograph;line-height:normal'>
          <span>Salinan dokumen untuk memenuhi persyaratan kesesuaian RTRW</span>
        </li>
        <li class=MsoNormal style='margin-bottom:0cm;text-align:justify;text-justify:inter-ideograph;line-height:normal'>
          <span>Salinan dokumen untuk memenuhi persyaratan UPL UKL</span>
        </li>
        <li class=MsoNormal style='margin-bottom:0cm;text-align:justify;text-justify:inter-ideograph;line-height:normal'>
          <span>Surat pernyataan asli diatas materai bahwa gedung yang dibangun sudah sesuai dengan standar ketahanan gempa, standar keselataman kebakaran dan standar aksesibilitas penyandang cacat</span>
        </li>
        <li class=MsoNormal style='margin-bottom:0cm;text-align:justify;text-justify:inter-ideograph;line-height:normal'>
          <span>Surat pernyataan asli diatas materai bersedia digunakan sebagai studi kasus GBC Indonesia</span>
        </li>
      </ol>
      <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph; line-height:normal'>
        <span>
          <br>
        </span>
        <span>Setelah melakukan proses verifikasi</span>
        <span>,</span>
        <span> kami menyatakan bahwa</span>
        <span> Proyek Gedung </span>
        <span th:text="${building_name}"></span>
        <span> sudah mencapai status <i>eligible</i> atau memenuhi syarat untuk </span>
        <span>ikut serta dalam proses Sertifikasi Greenship <i>New Building</i>. </span>
        <span>Dokumen yang masih dalam pengurusan dan sertifikat laik fungsi harap di lengkapi sebelum sidang final, </span>
        <span> dengan status tersebut maka selanjutnya PT. Sertifikasi Bangunan Hijau akan melakukan proses sebagai berikut:</span>
      </p>
      <p class=MsoListParagraphCxSpFirst style='text-align:justify;text-justify:inter-ideograph; text-indent:-18.0pt;line-height:normal'>
        <ol>
          <li><span>Penyerahan draft perjanjian kerjasama hingga finalisasi dan penandatanganan oleh PT. Sertifikasi Bangunan Hijau dan Pihak Gedung.</span></li>
          <li><span>Melakukan penagihan biaya sertifikasi tahap I. (Skema dan Tata Cara Pembayaran donasi tercantum dalam perjanjian kerjasama) hingga pembayaran dilakukan.</span></li>
        </ol>
      </p>  
      <p class=MsoListParagraphCxSpMiddle style='margin:0cm;text-align:justify; text-justify:inter-ideograph'>
        <span>Apabila poin 1 dan 2 telah terpenuhi, maka Proyek Gedung </span>
        <span th:text="${building_name}"></span>
        <span> akan memperoleh status <i>Registered Project</i>. Demikian kami sampaikan. </span>
        <span>Atas perhatiannya kami mengucapkan terima kasih. </span>
      </p>
      <p class=MsoListParagraphCxSpLast style='margin:0cm;text-align:justify; text-justify:inter-ideograph'>
        <span>&nbsp;</span>
      </p>
      <p class=MsoNormal style='line-height:normal'>
        <span >Salam Hijau Lestari, <br> PT. Sertifikasi Bangunan Hijau <br>
        </span>
      </p>
      <img alt="Manager Signature" th:src="@{${manager_signature}}" style='max-width:150px;' />
      <p class=MsoNormal style='line-height:normal'>
        <u>
          <span >
            <span th:text="${manager_name}"></span>
            <br>
          </span>
        </u>
        <span >Manajer</span>
      </p>
    </div>
    <div class="c12">
      <span style="overflow: hidden; position: relative; border: 0.00px solid #000000; -webkit-transform: rotate(0.00rad) translateZ(0px);">
        <img th:src="@{images/image3.png}" style="width: 750.00px; height: 100.00px; margin-left: -50px; margin-top: -50.00px; -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
      </span>
    </div>
  </body>
</html>